			<div class="alert alert-success">
				Dodano komentarz autora <strong><?php echo $_GET["author-name"] ?></strong> w dniu <?php echo date("Y-m-d h:i:s") ?>.<br>
				Tytuł komentarza: <strong><?php echo $_GET["comment-title"] ?></strong><br>
				Treść komentarza: <strong><?php echo $_GET["comment-content"] ?></strong>
			</div>