			<h3>Dodaj komentarz</h3>
			<hr>
			<form>
				<div class="form-group">
					<label for="comment-title">Tytuł komentarza</label>
					<input type="text" class="form-control" id="comment-title" name="comment-title" placeholder="Tytuł komentarza">
				</div>

				<div class="form-group">
					<label for="author-name">Imię / nick</label>
					<input type="text" class="form-control" id="author-name" name="author-name" placeholder="Imię / nick">
				</div>

				<div class="form-group">
					<label for="comment-content">Komentarz</label>
					<textarea id="comment-content" name="comment-content" class="form-control"></textarea>
				</div>

				<button type="submit" class="btn btn-primary">Wyślij</button>
			</form>