{% extends "layout/layout.twig" %}

{% block title %}Funkcje w języku PHP{% endblock %}
{% block subtitle %}Zasady obowiązujące podczas korzystania z funkcji w języku PHP.{% endblock %}

{% block content %}

	<h4>Wstęp</h4>

	<p>Funkcja jest częścią programu wykonującą określoną przez programistę operację. Funkcje wykorzystuje się przede wszystkim dla zmniejszenia redundancji, uporządkowania kodu oraz zwiększenia jego czytelności. Jest to jedna z podstawowych części prawie każdego języka programowania. Definicję funkcji rozpoczyna słowo kluczowe <code>function</code>.</p>

	<p>Język PHP nie ma ustalonych standardów jeżeli chodzi o sposób zapisywania kodu. Na potrzeby tego kursu przyjmijmy, że wszystkie funkcje zapisujemy tzw. <em>camelCasem</em>, czyli notacją, w której wszystkie wyrazy pisane są łącznie, a każdy - oprócz pierwszego - jest rozpoczynany wielką literą. Przykładowe nazwy funkcji powinny wyglądać tak: <code>renderNavigationPanel()</code>, <code>attachTagsToArticle()</code>, itd.</p>

	<p>Poniżej dołączony został prosty program, który umożliwia dodawanie dwóch liczb. Zadanie realizuje funkcja <code>sum()</code>, do której przekazywane są dwie liczby, a która zwraca wynik matematycznej operacji.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex01-a.php" %}{% endfilter %}</code></pre>

	<p>PHP w wersji od 7.1 w pełni umożliwia typowanie argumentów i wyników funkcji. Wówczas funkcja przyjmuje i zwraca jedynie zmienne określonego typu, jednakże należy pamiętać, że PHP niejawnie potrafi dokonać konwersji z jednego typu na inny.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex01-b.php" %}{% endfilter %}</code></pre>

	<p>Konwencja typowania jest kompatybilna jedynie wstecznie. Oznacza to, że funkcję bez typowanych parametrów można z powodzeniem wykorzystać w aplikacje hostowanej na serwerze z PHP w wersji 7, ale nigdy na odwrót: serwer z PHP w wersji 5.* nie zrozumie czy jest typowany parametr czy wynik funkcji.</p>

	<p>Należy pamiętać, że programista w trakcie swojej pracy zazwyczaj częściej czyta kod niż go wykonuje, więc kod powinien być czytelny i dobrze zaplanowany. Lepiej używać pełnych nazw zmiennych i funkcji, które wprost mówią, co robią lub co przedstawiają. Czasy, w których każdy bajt programu się liczył, na szczęście się skończyły, więc nie ma potrzeby skracać czasowników i rzeczowników do niezrozumiałych skrótowców.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex01-c.php" %}{% endfilter %}</code></pre>

	<p>Kod przedstawiany na zajęciach będzie konstruowany w języku angielskim, zgodnie ze sztuką programowania. Realizowane zadania mogą być pisane w dowolny sposób, jednak dobrze mieć na uwadze ogólno przyjęte standardy.</p>

	<h4>Zadania do wykonania</h4>
	<p>Należy zaprojektować, na tablicy i na komputerze, kolejne funkcje realizujące następujące funkcjonalności:</p>
	<ul>
		<li>sprawdzanie która z podanych trzech liczb jest największa</li>
		<li>obliczanie sumy liczb podanych w tablicy; na przykład <code>$numbers = [1, 12, -4, 4.5];</code></li>
		<li>konwersję ze stopni Celsjusza na kelwiny, pamiętając że $ T_K = t_{^{\circ}C} + 273,15 $</li>
		<li>obliczanie $ n $-tego wyrazu ciągu Fibonacciego; przyjmijmy $ n_{max} \lt 20 $</li>
		<li>wyznaczenie miejsc zerowych funkcji kwadratowej, pamiętając, że liczone są one:
			<ul>
				<li>$ x_1 = \frac{-b+\sqrt{\Delta}}{2a} $ i $ x_2 = \frac{-b-\sqrt{\Delta}}{2a} $ dla $ \Delta \gt 0 $</li>
				<li>$ x_1 = x_2 = - \frac{b}{2a} $ dla $ \Delta = 0 $</li>
				<li>brak miejsc dla $ \Delta \lt 0 $</li>
			</ul>
		(deltę natomiast obliczamy $ \Delta = b^2 - 4ac $)</li>
		<li>policzenie ile razy krzywa łącząca punkty (o różnych wartościach X występujące co 1 jednostkę na osi Y) przecina oś 0Y; przykładowo:
			<ul>
				<li>dla <code>[1, -1, 1]</code> będzie to 2</li>
				<li>dla <code>[1, 7, 15, 3, 2]</code> będzie to 0</li>
				<li>dla <code>[-3, -5, 2, 5, -5, 5, 1]</code> będzie to 3</li>
			</ul>
		</li>
	</ul>

{% endblock %}