{% extends "layout/layout.twig" %}

{% block title %}Zmienne i argumenty{% endblock %}
{% block subtitle %}Zasięg zmiennych, zmienne globalne, argumenty funkcji{% endblock %}

{% block content %}

	<h4>Zasięg zmiennych</h4>

	<p>Każda zmienna używana w programach pisanych w języku PHP ma swój określony zasięg. Oznacza to, że nie w każdym miejscu programu można odwołać się do każdej zmiennej. <a href="http://php.net/manual/en/language.variables.scope.php" target="_blank">Dokumentacja</a> opisuje to w wyczerpujący sposób, a poniżej skupimy się na konkretnych przykładach.</p>

	<p>Poniższy kod przedstawia sytuację, w której programista zadeklarował zmienną <code>$scopeVariable</code>, a następnie próbuje się do niej dostać wewnątrz zadeklarowanej funkcji <code>doSomething()</code>. Jest to niemożliwe, ponieważ każda funkcja tworzy swój własny zakres dla zmiennych, więc w rezultacie programista otrzymuje błąd wskazujący na niezdefiniowaną zmienną.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex02-a.php" %}{% endfilter %}</code></pre>

	<p>Jednym z rozwiązań takiego problemu może oczywiście być zmiana zakresu dla konkretnej zmiennej wewnątrz konkretnej funkcji. Za pomocą modyfikatora <code>global</code> można wskazać, która zmienna ma być pobierana z globalnego zakresu. Czy jest to dobre rozwiązanie? Może się spierać. Część programistów niechętnie korzysta z możliwości globalizowania zmiennych, ponieważ wprowadza to zamieszanie do kodu.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex02-b.php" %}{% endfilter %}</code></pre>

	<p>Należy też oczywiście pamiętać, że zadeklarowana wewnątrz funkcji zmienna jest nieosiągalna poza funkcją. Oczywiście istnieje możliwość ustawienia poza funkcją globalnej zmiennej, do której zostanie przypisana referencja zmiennej węwnątrz funkcji, ale nie jest to dobra praktyka.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex02-c.php" %}{% endfilter %}</code></pre>

	<h4>Argumenty i parametry funkcji</h4>

	<p>Każda funkcja przyjmuje pewną liczbę $n$ argumentów. Może to być oczywiście zero, wówczas funkcja jest bezparametryczna. Maksymalna liczba jest ograniczona przez rozmiar stosu, ale nie jest zalecane testowanie ograniczeń. Programista działający zgodnie ze sztuką powinien minimalizować liczbę potrzebnych parametrów w projektowanych przez siebie funkcjach, aby nie komplikować zanadto swojego kodu.</p>

	<p>Należy pamiętać, że funkcje mogą przyjmować typowane parametry. Program z niekompatybilnymi argumentami nie zostanie poprawnie uruchomiony:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex02-d.php" %}{% endfilter %}</code></pre>

	<p>Prawie zawsze nalży wywoływać funkcję z liczbą argumentów odpowiadającą liczbie parametrów. Przy standardowo zadeklarowanej funkcji z $n$ parametrami, a wywołanej z $m \lt n$ argumentami, program również nie zostanie poprawnie uruchomiony:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex02-e.php" %}{% endfilter %}</code></pre>

	<p>PHP umożliwia jednak wprowadzanie domyślnych wartości dla niepodanych argumentów. Proszę zwrócić uwagę, że taka technika często jest wykorzystywana w funkcjach wbudowanych w język, których dokumentacja jest dostępna online. Parametry z domyślnymi wartościami zawsze muszą być zadeklarowane na końcu listy parametrów.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex02-f.php" %}{% endfilter %}</code></pre>

	<p>Istnieje również mechanizm pozwalający na dodanie dowolnej liczby parametrów. Taki zapis również musi znaleźć się na końcu listy parametrów, a przekazane argumentu najczęściej zostaną wpisane w tablicę obiektów o zadeklarowanym typie:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex02-g.php" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>
	<p>Należy zaprojektować, na tablicy i na komputerze, następujące funkcje:</p>
	<ul>
		<li>wstawianie unikalnych liczb do uprzednio zadeklarowanej pustej tablicy</li>
		<li>wypisanie współrzędnych wierzchołków kwadratu dla podanych współrzędnych środka i długości jego boku</li>
		<li>generowanie zestawu $n>0$ (domyślnie $n=1$) numerów totolotka; można wykorzystać funkcję <code>rand()</code> psuedolosującą liczby</li>
		<li>wyświetlanie ceny produktu: domyślnie w złotówkach, ewentualnie w innej walucie</li>
		<li>sprawdzanie czy do systemu podano poprawny (pod względem algorytmicznym) numer PESEL w parze z imieniem i nazwiskiem oraz opcjonalnie płcią; (<a href="https://pl.wikipedia.org/wiki/PESEL#Cyfra_kontrolna_i_sprawdzanie_poprawno.C5.9Bci_numeru" target="_blank">pomoc</a>)</li>
	</ul>

{% endblock %}