{% extends "layout/layout.twig" %}

{% block title %}Funkcje wbudowane języku PHP{% endblock %}
{% block subtitle %}Funkcje tablic, sortowania i wyszukiwania, funkcje daty i czasu, funkcje formatowania i analizowania ciągów znaków{% endblock %}

{% block content %}

	<h4>Funkcje wbudowane</h4>

	<p>Język PHP jest wyposażony w bardzo szeroki wachlarz wbudowanych funkcji upraszczających życie, które są w pełni <a href="http://php.net/manual/pl/functions.internal.php" target="_blank">dokumentowane</a> i gotowe do wykorzystania. Większość z nich można oczywiście zastąpić jedną lub kilkoma linijkami własnego kodu, jednakże wygodnie jest znać możliwości języka. Należy zrozumieć, że nikt nigdy nie wymaga dokładnej znajomości każdej funkcji - po to jest dokumentacja, aby sprawdzać potrzebne informacje na bieżąco; mimo to dobrze jest jednak znać kilkanaście podstawowych funkcji, z których programiści korzystają najczęściej.</p>

	<p>W pracy z PHP programiści bardzo często używają tablic, ponieważ PHP-owe tablice są bardzo potężnym narzędziem. Poniższy program wykorzystuje trzy funkcje związane z tablicami: <code>array()</code> tworzy pustą tablicę, <code>array_push()</code> dodaje do wyznaczonej tablicy tytuł książki, a <code>asort()</code> sortuje tytuły w kolejności alfabetycznej:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex03-a.php" %}{% endfilter %}</code></pre>

	<p>Ważnymi funkcjami wbudowanymi są te, które umożliwiają operacje na zmiennych związanych z czasem. Za ich pomocą można sprawdzić jaki dzień tygodnia będzie równo za $n$ dni od teraz, ile obecny miesiąc ma dni lub czy następny rok jest przestępny. Najważniejszą funkcją będzie <code>date()</code>, która w domyślnym ustawieniu wskaże zawsze obecną chwilę w wybranym formacie czasowym.</p>

	<p>Program poniżej wypisuje wszystkie daty, które pojawią się na kalendarzu do daty oddalnej od teraz o równy tydzień:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex03-b.php" %}{% endfilter %}</code></pre>

	<p>Znając dokumentację opisująca funkcję <code>date()</code> możemy przedstawić każdy moment w dowolny sposób:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex03-c.php" %}{% endfilter %}</code></pre>

	<p>Inną szeroką dziedziną funkcji wbudowanych są te, które dotyczą formatowania ciągów znaków. Z łatwością można zamienić ciągi tekstowe w wygodne do analizowanie tablice, sprawdzić ile dany wyraz ma znaków, zmienić dynamicznie wielkość liter, wyszukać potrzebne frazy lub zakodować hasło. Nawet prosty program analizujący tekst może wykorzystać funkcje wbudowane, aby skrócić czas pracy programisty:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex03-d.php" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>
	<p>Należy sprawdzić w dokumentacji sposób wykorzystania, opis, parametry i zwracane wartości, a następnie zaimplementować przykładowe programy wykorzystujące funkcje:</p>
	<ul>
		<li>podstawowe operacje na tablicach:
			<code>array()</code>,
			<code>array_diff()</code>,
			<code>array_merge()</code>,
			<code>array_pop()</code>,
			<code>array_push()</code>,
			<code>array_rand()</code>,
			<code>array_sum()</code>,
			<code>array_unique()</code>,
			<code>in_array()</code>
		</li>
		<li>operacje sortowania:
			<code>array_reverse()</code>,
			<code>array_shift()</code>,
			<code>asort()</code>,
			<code>shuffle()</code>
			<code>sort()</code>,
		</li>
		<li>operacje związane z datą i czasem:
			<code>date()</code>,
			<code>strtotime()</code>
		</li>
		<li>operacje formatowania ciągów znaków:
			<code>explode()</code>,
			<code>implode()</code>,
			<code>sha1()</code>,
			<code>str_replace()</code>,
			<code>str_shuffle()</code>,
			<code>strip_tags()</code>,
			<code>strlen()</code>,
			<code>strpos()</code>
			<code>strtolower()</code>,
			<code>strtoupper()</code>,
			<code>ucfirst()</code>,
		</li>
	</ul>

{% endblock %}
