{% extends "layout/layout.twig" %}

{% block title %}Operacje na plikach i katalogach{% endblock %}
{% block subtitle %}Jak wykorzystywać inne pliki?{% endblock %}

{% block content %}

	<h4>Pliki i foldery</h4>

	<p>Do operacji na plikach i katalogach potrzebna jest minimalna znajomość systemów uniksowych. PHP umożliwia pełne zarządzanie systemem plików: tworzenie nowych, edycję istniejących, usuwanie, zmianę uprawnień, pobieranie zawartości, zmiany nazw, zmiany lokalizacji i wiele innych.</p>

	<p>Najprostszy program zapisujący tekst do pliku wygląda bardzo podobnie jak analogiczny program napisany w języku C. Funkcja <code>fopen()</code> otwiera plik ze ścieżki podanej jako argument funkcji oraz zwraca tzw. uchwyt do pliku na którym będzie można wykonywać wybrane akcje. Należy pamiętać o zamknięciu uchwytu!</p>

	<p class="alert alert-info">W poniższym programie oczywiście należy zamienić linijkę <code>{% filter escape %}<?php-test{% endfilter %}</code> na <code>{% filter escape %}<?php{% endfilter %}</code>.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex04-a.php" %}{% endfilter %}</code></pre>

	<p>Należy szczególnie uważać przy projektowaniu i uruchamianiu programów korzystających z funkcji zarządzania systemem plików. Należy pamiętać o uprawnieniach katalogów po których się poruszamy, należy sprawdzać czy dane lokalizacje istnieją, należy wiedzieć, że niektóre standardowe operacje kasują zawartość plików bez pytania o potwierdzenie.</p>

	<p>Poniższy program zapisuje do pliku <code>logs/{bieżąca data}.log</code> wszystkie wejścia do programu:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex04-b.php" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>
	<ul>
		<li>należy sprawdzić w dokumentacji sposób wykorzystania, opis, parametry i zwracane wartości, a następnie zaimplementować przykładowe programy wykorzystujące funkcje:
			<code>copy()</code>,
			<code>dirname()</code>,
			<code>fclose()</code>,
			<code>file()</code>,
			<code>file_exists()</code>,
			<code>file_get_contents()</code>,
			<code>file_put_contents()</code>,
			<code>fopen()</code>,
			<code>fwrite()</code>,
			<code>mkdir()</code>,
			<code>rename()</code>
		</li>
		<li>należy zaprojektować program, który zliczy liczbę odwiedzin na stronie internetowej</li>
		<li>należy zaprojektować program, który sprawdzi czy wygraliśmy w ostatnim losowaniu lotto; podpowiedź: należy wykorzystać funkcję pobierającą zawartość z danego adresu internetowego API: <code>file_get_contents("http://app.lotto.pl/wyniki/?type=dl")</code></li>
		<li>należy rozbudować program z folderu <code><a href="https://bitbucket.org/krewak/pwsz-jawor/src/master/exercises/board/" target="_
			">/exercises/board</a></code>, aby w dowolnej formie składować i wyświetlać komentarze</li>
	</ul>

{% endblock %}
