{% extends "layout/layout.twig" %}

{% block title %}Obiekty i klasy{% endblock %}
{% block subtitle %}Baza programowania obiektowego{% endblock %}

{% block content %}

	<h4>Wstęp do programowania obiektowego</h4>

	<p>Programowanie obiektowe pozwala na modelowanie rzeczywistego świata w celu łatwiejszego do zapisania sposobu rozwiązywania problemów. W przeciwieństwie do programowania strukturalnego, gdzie program wykonywał się linijka po linijce i wykorzystywał podstawowe typy danych, w programowaniu obiektowym można wykorzystać bardziej zaawansowane techniki.</p>

	<p>Załaczony poniżej program tworzy obiekt klasy <code>Point</code>, która reprezentuje punkt w układzie kartezjańskim, czyli ma współrzędne odpowiadające wartościom na osiach OX i OY. Stworzony obiekt można dowolnie wykorzystać i nie utracić informacji na temat jego przeznaczenia.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex05-a.php" %}{% endfilter %}</code></pre>

	<p>W podobny sposób można zamodelować praktycznie wszystko, co może być potrzebne w programie komputerowym. Poniżej znajduje się tzw. model w systemie, któy mógłby być aplikacją webową.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex05-b.php" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>
	<p>Należy zastanowić się i przedstawić pomysły jak mogłyby wyglądać następujące klasy:</p>
	<ul>
		<li>punkt w przestrzeni trójwymiarowej</li>
		<li>film na stronie internetowej kina</li>
		<li>wydarzenie w kalendarzu</li>
		<li>kwadrat w układzie kartezjańskim</li>
	</ul>

{% endblock %}