{% extends "layout/layout.twig" %}

{% block title %}Właściwości i metody{% endblock %}
{% block subtitle %}Z czego składa się klasa i obiekt?{% endblock %}

{% block content %}

	<h4>Wstęp</h4>

	<p>Każda klasa składa się z dwóch podstawowych części składowych: dowolnej liczby pól (właściwości) oraz dowolnej liczby metod. Atrybut jest w zasadzie zmienną przypisaną do inicjalizowanego obiektu, nastomiast metoda - funkcją wywoływaną na obiekcie.</p>

	<p>Istotną rzeczą przy programowaniu obiektowym jest zrozumienie czym tak naprawdę jest zmienna <code>$this</code>, do której można odezwać się wewnątrz ciała każdej metody w klasie. Mocno upraszczając, jest to zmienna do której przypisany jest konkretny obiekt, na którym wywoływana jest metoda. Jeżeli obiekt klasy <code>Point</code> ma atrybut <code>$x</code> oraz metodę <code>setX(int $x)</code>, możemy odnieść się do nich poprzez <code>$this->x</code> oraz $<code>$this->setX(i)</code>.</p>

	<p>Kod poniżej pokazuje rozszerzenie klasy <code>Point</code> z poprzedniego tematu:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex06-a.php" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>
	<p>Należy zaproponować możliwe zastosowania dla nowych metod dla klas z poprzedniego zadania i rozszerzyć te klasy.</p>

{% endblock %}