{% extends "layout/layout.twig" %}

{% block title %}Tworzenie obiektów{% endblock %}
{% block subtitle %}Jak utworzyć obiekt własnej klasy?{% endblock %}

{% block content %}

	<h4>Wstęp</h4>

	<p>Obiekty są zawsze tworzone poprzez słowo kluczowe <code>new</code>: przykładowo przypisanie nowego obiektu do zmiennej zapisuje się jako <code>$point = new Point</code>, co zostało przedstawione już przy poprzednim temacie.</p>

	<p>Jeżeli jednak klasa ma zdefiniowane metody statyczne, wówczas można się do nich dostać bez inicjalizowania obiektu, używając jedynie operatora wywołania statycznego; przykładowo <code>Point::getSomethingStatic()</code>. Należy oczywiście pamiętać, że w metodzie statycznej można wywoływać jedynie inne metody statyczne lub pola statyczne.</p>

	<p>Poniższy program tworzy listę uczniów w klasie. Należy zwrócić uwagę na to, że obiekt <code>Classroom</code> przechowuje listę studentów w tablicy, ale dodawanie nowych studentów jest tylko możliwe przez metodę <code>addStudent()</code>. Dzięki temu <code>Classroom</code> jest niejako nową strukturą danych, która przechowuje jedynie studentów, czyli obiekty klasy <code>Student</code>.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex07-a.php" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>
	<p>Należy zaproponować możliwe zastosowania dla pól i metod statycznych dla klas z poprzednich zadań i rozszerzyć te klasy.</p>

{% endblock %}