{% extends "layout/layout.twig" %}

{% block title %}Konstuktor, destruktor{% endblock %}
{% block subtitle %}Kiedy obiekt jest tworzony? Kiedy usuwany z pamięci?{% endblock %}

{% block content %}

	<h4>Wstęp</h4>

	<p>Konstruktor i destruktor to podstawowe metody każdej klasy w PHP. Jeżeli nie zostaną zaprojektowane i zaimplementowane przez użytkownika, dodawane są niejawnie. Metody te, jako jedyne, nie mogą mieć zadeklarowanego typu zwracanej wartości.</p>

	<p>Konstruktor to publiczna funkcja <code>__construct()</code>. Przyjmuje argumenty podane przy tworzeniu nowych obiektów; przykładowo <code>new Point(0, 0)</code>. Wykonuje się zawsze przy tworzeniu obiektu. Warto go użyć dla wymuszenia wprowadzenia wybranych wartości dla pól klasy już przy inicjalizacji.</p>

	<p>Destructor to z kolei publiczna klasa <code>__destruct()</code>. Wywoływana jest poleceniem <code>unset($obj)</code>, ale PHP ma wbudowany mechanizm, który niejawnie wywyłuje destruktor dla każdego obiektu w momencie, w którym przestaje on być ptorzebny.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex08-a.php" %}{% endfilter %}</code></pre>

	<p>W konstruktorze oczywiście można wywoływać inne metody. Może to pomóc w próbach zmniejszania redundancji w kodzie.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex08-b.php" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>
	<p>Należy zaproponować możliwe zastosowania dla konstruktorów i destruktorów dla klas z poprzednich zadań i rozszerzyć te klasy.</p>

{% endblock %}