{% extends "layout/layout.twig" %}

{% block title %}Hermetyzacja, dziedziczenie{% endblock %}
{% block subtitle %}Funkcjonalności programowania obiektowego{% endblock %}

{% block content %}

	<h4>Dziedziczenie klas</h4>

	<p>Dziedziczenie to jeden z mechanizmów tzw. polimorfizmu w programowaniu obiektowym. Umożliwa przekazanie pól i metod z jednej klasy do kolejnych. Jeżeli klasa dziedziczy po innej klasie, obiekt nowej klasy zawiera w sobie wszystkie pola i metody starej klasy.</p>

	<p>Jeżeli programista tworzy kilka klas realizujących podobne założenia i mających powtarzające się linie kodu, można użyć dziedziczenia, aby zredukować powtórzenia i ustrukturyzować model. Należy jednak pamiętać, aby dziedziczenie miało sens nie tylko programistyczny, ale także semantyczny. Przykładowo klasa reprezentująca kwadrat może dziedziczyć po klasie dziedziczącej prostokąt, ponieważ każdy kwadrat jest prostokątem, ale nie na odwrót.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex09-a.php" %}{% endfilter %}</code></pre>

	<h4>Hermetyzacja</h4>

	<p>Hermetyzacja (inaczej enkapsulacja) to mechanizm ograniczenia dostępu do pewnych pól i metod w danych klasie dla użytkownik "z zewnątrz" obiektu. Czasami okazuje się, że nie ma potrzeby pozwalać na edycję konkretnych danych bezpośrednio - wówczas można zablokować dane pole w taki sposób, że będzie możliwe do edycji jedynie z poziomu odwoływania się przez <code>$this</code> wewnątrz metod klasy.</p>

	<p>W PHP domyślnie wszystkie pola i metody są publiczne i o tym informuje (niejawnie przy metodach) dodawany modyfikator <code>public</code>. Użycie <code>private</code> zabroni wszystkim innym dostęp do pól i metod, natomiast <code>protected</code> zabroni dostępu wszystkim oprócz dziedziczonych przezeń klas.</p>

	<p>Jako, że PHP nie posiada mechanizmu typowania pól klasy, jednym z rozwiązań jest tworzenie pól prywatnych, które będą mogły być modyfikowane jedynie przez publiczną odpowiednią metodę z typowanym parametrem.</p>

	<h4>Zadania do wykonania</h4>

	<p>Należy zaproponować możliwe zastosowania dla dziedziczenia i hermetyzacji dla klas z poprzednich zadań i rozszerzyć te klasy.</p>

{% endblock %}