{% extends "layout/layout.twig" %}

{% block title %}Tworzenie baz danych{% endblock %}
{% block subtitle %}Jak zbudować strukturę do przechowywania danych?{% endblock %}

{% block content %}

	<h4>Bazy danych</h4>

	<p>Bazy danych wedle definicji z Wikipedii to zbiór danych zapisanych zgodnie z określonymi regułami. Na potrzeby dzisiejszych ćwiczeń mówiąc <em>baza danych</em> będziemy mieli na myśli relacyjne systemy zarządzania bazami danych. Do pracy będzie potrzebny zainstalowany MySQL oraz dowolne oprogramowanie z graficznym interfejsem użytkownika pozwalające na wygodny podgląd bazy; proponowanym rozwiązaniem jest HeidiSQL instalowane automatycznie przy instalacji Laragona.</p>

	<p>Aby utworzyć tabelę, trzeba wpierw utworzyć bazę danych. Można to zrobić bezpośrednio w MySQL-u:</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex10-a.sql" %}{% endfilter %}</code></pre>

	<p>Oczywiście można się zabezpieczyć przed błędem i nakazać silnikowi bazy danych utworzenie nowej bazy jedynie w przypadku, gdy takowa jeszcze nie istnieje:</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex10-b.sql" %}{% endfilter %}</code></pre>

	<h4>Tabele</h4>

	<p>Tabela to podstawowy zbiór danych i składa się z wierszy (rekordów) podzielonych na kolumny (pola). Zanim ktokolwiek doda jakiekolwiek dane do naszej tabeli, należy ją oczywiście utworzyć, a wywołuje się to następująco:</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex10-c.sql" %}{% endfilter %}</code></pre>

	<p>Powyższy kod utworzy tabelę o nazwie <code>users</code>, która będzie przechowywała rekordy z piecioma polami: liczbowym identyfikatorem <code>id</code>, stringami z nazwą użytkownika <code>login</code>, jego hasłem <code>password</code> i adresem mejlowym <code>email</code> oraz datą rejestracji w formacie czasowym <code>joined_at</code>.</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex10-d.sql" %}{% endfilter %}</code></pre>

	<p>Powyższy kod jest rozszerzeniem poprzedniego przykładu. Teraz identyfikator użytkownika zawsze będzie niepotwarzalny, a jeżeli ktoś nie poda wartości, wówczas pole dostanie wartość o jeden większą niż poprzednio dodany rekord; wartości słowne nie przyjmą pustych wartości; data utworzenia konta zostanie wpisana automatycznie.</p>

	<h4>Zadania do wykonania</h4>
	<p>Należy zaprojektować, na tablicy i na komputerze, tabele które mogłyby być wykorzystane w następujących aplikacjach:</p>
	<ul>
		<li>lista książek w bibliotece</li>
		<li>witryna lokalnych wiadomości</li>
		<li>strona z wynikami lotto</li>
		<li>aplikacja typu <em>lista do zrobienia</em></li>
		<li>program telewizyjny</li>
		<li>lista samochodów w komisie</li>
		<li>aplikacja z prognozą pogody</li>
	</ul>

{% endblock %}