{% extends "layout/layout.twig" %}

{% block title %}Łączenie tabel{% endblock %}
{% block subtitle %}Jak uzależnić od siebie dane?{% endblock %}

{% block content %}

	<h4>Klucze obce</h4>

	<p>Klucze obce to podstawa relacji w bazach danych. Dzięki nim można w pełni uzależnić dane od siebie, aby utrzymać jednolitą strukturę i konsekwencję danych w naszej bazie danych. Niestety klucze obce nie są wymagane do późniejszego tworzenia relacji, ale dobrą praktyką jest ich stosowanie.</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex11-a.sql" %}{% endfilter %}</code></pre>

	<p>Powyższy przykład pokazuje jak utworzyć wcześniej już przedstawioną tabelę <code>users</code>, ale także nową tabelę <code>articles</code>. Należy zwrócić uwagę na to, że nie można utworzyć żadnego artykułu jeżeli nie utworzono uprzednio jakiegokolwiek użytkownika do którego taki artykuł można byłoby przypisać.</p>

	<h4>Zadania do wykonania</h4>

	<p>Należy zaprojektować, na tablicy i na komputerze, zbiory tabel i relacji które mogłyby być wykorzystane w następujących aplikacjach:</p>
	<ul>
		<li>system wypożyczeń książek w bibliotece</li>
		<li>witryna lokalnych wiadomości</li>
		<li>program telewizyjny</li>
		<li>lista samochodów w komisie</li>
		<li>aplikacja z prognozą pogody</li>
	</ul>

{% endblock %}