{% extends "layout/layout.twig" %}

{% block title %}Wstawianie do bazy danych{% endblock %}
{% block subtitle %}Jak zapisać dane?{% endblock %}

{% block content %}

	<h4>Wstawianie danych</h4>

	<p>Wstawianie danych do tabel odbywa się za pomocą polecenia <code>INSERT</code>. Należy wskazać konkretną tabelę, a następnie wybrać do jakich kolumn mają zostać wpisane jakie dane. Należy pamiętać o kolejności kolumn, a także o tym, aby podać wszystkie wymagane do utworzenia rekordu dane.</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex12-a.sql" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>

	<p>Należy stworzyć zbiory przykładowych danych dla aplikacji stworzonych w poprzednim zadaniu.</p>

{% endblock %}