{% extends "layout/layout.twig" %}

{% block title %}Pobieranie z bazy danych{% endblock %}
{% block subtitle %}Jak pobrać dane?{% endblock %}

{% block content %}

	<h4>Pobieranie danych</h4>

	<p>Pobieranie danych odbywa się za pomocą polecenia <code>SELECT</code>. Należy podać źródłową tabelę oraz sprecyzować zapytanie. Oczywiście najprostsza forma, wybierająca wszystkie dane z tabeli <code>users</code>, wygląda następująco:</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex13-a.sql" %}{% endfilter %}</code></pre>

	<p>Korzystanie z <em>wildcardu</em> <code>*</code> bywa jednak niebezpieczne (na poziomie bezpieczeństwa danych oraz obciążania serwera), więc dobrym zwyczajem jest wybieranie jedynie interesujących nas danych:</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex13-b.sql" %}{% endfilter %}</code></pre>

	<p>Za pomocą <code>WHERE</code> można zawężać zapytanie. Należy mieć na uwadze, że komendy <code>WHERE</code> można ze sobą łączyć za pomocą operatorów <code>AND</code> i <code>OR</code>, aby uzyskać najbardziej trafne dane:</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex13-c.sql" %}{% endfilter %}</code></pre>

	<p>Wybrane dane można sortować poleceniem <code>ORDER BY</code>, grupować poleceniem <code>GROUP BY</code>, a także wybierać konkretną liczbę wyników poprzez <code>LIMIT</code>:</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex13-d.sql" %}{% endfilter %}</code></pre>

	<h4>Łączenie tabel</h4>

	<p>Jedną z najistotniejszych operacji na tabelach jest pobieranie połączonych tabel za pomocą polecenia <code>JOIN</code>. Wskazujemy wówczas jaka dana odpowiada innej danej w innej kolumnie. Poniższy przykład pokazuje jak pobrać posortowaną chronologicznie listę tytułów artykułów, loginów ich autorów i dat publikacji.</p>

	<pre><code class="mysql">{% filter escape %}{% include "exercises/ex13-e.sql" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>

	<p>Należy zaprojektować optymalne zapytania dla przykładowych danych dla aplikacji stworzonych w poprzednich zadaniach.</p>

{% endblock %}