{% extends "layout/layout.twig" %}

{% block title %}Bazy danych i PHP{% endblock %}
{% block subtitle %}Jak podłączyć się do bazy danych w aplikacji internetowej?{% endblock %}

{% block content %}

	<h4>Rozszerzenie <code>mysqli</code></h4>

	<p>Funkcje wbudowane służące do łączenia się z bazami danych MySQL rozpoczynają się od prefiksu <code>mysqli</code>. Należy mieć na uwadze, że często wspominana w podręcznikach czy internetowych tutorialach funkcja <code>mysql()</code> jest przestarzała i niebezpieczna, a w PHP od wersji 7.0 - również nieaktywna.</p>

	<p>Funkcja <code>mysqli_connect()</code> przyjmuje parametry połączenia z bazą danych i nawiązuje to połączenie. Należy przypisać zwracany przez nią wynik do zmiennej, z której będziemy później korzystać:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex14-a.php" %}{% endfilter %}</code></pre>

	<p>Na obiekcie zwróconym przez <code>mysqli_connect()</code> można wykonać zapytanie poprzez metodę <code>query()</code> i składnię MySQL:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex14-b.php" %}{% endfilter %}</code></pre>

	<p>Zapytania można oczywiście dowolnie rozszerzać, a wynik wypisywać w potrzebny sposób. Teraz liczy się tylko pomysłowość programisty:</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex14-c.php" %}{% endfilter %}</code></pre>

	<h4>Zadania do wykonania</h4>

	<p>Należy stworzyć aplikację internetową z połączeniem do bazy danych na podstawie wybranego tematu z poprzednich zadań.</p>

{% endblock %}