{% extends "layout/layout.twig" %}

{% block title %}Kurs języka PHP{% endblock %}
{% block subtitle %}Dla uczniów Powiatowego Centrum Kształcenia Zawodowego i Ustawicznego w Jaworze{% endblock %}

{% block content %}

	<h4>Wstęp</h4>

	<p>PHP jest wieloplatformowym, wieloparadygmatowym, dynamicznie typowanym, interpretowanym skryptowym językiem programowania przeznaczonym przede wszystkim, choć nie tylko, do tworzenia stron internetowych i aplikacji webowych. Nazwa to rekurencyjny akronim oznaczający PHP Hypertext Preprocessor.</p>

	<p>Składnia PHP jest oparta przede wszystkim na składni C, ale można doszukać się naleciałości Javy i Perla. Sam język również został stworzony w C jako pewnego rodzaju framework do tworzenia stron internetowych.</p>

	<pre><code class="php">{% filter escape %}{% include "exercises/ex00-a.php" %}{% endfilter %}</code></pre>

	<p>Powyższy fragment kodu powienien być w pełni zrozumiały dla osób znających inne języki programowania. Program wpierw w pętli sprawdza które liczby od 0 do 9 są podzielne przez dwa, dodaje je do przygotowanej pod to pustej tablicy, a następnie usuwa wszystkie te liczby z tablicy i wypisuje je użytkownikowi.</p>

	<h4>Potrzebne oprogramowanie</h4>

	<p>Aby uruchomić programy napisane w PHP należy wpierw utworzyć odpowiednie środowisko. Najczęstszą implementacją serwera www - lokalnego czy zdalnego - jest tzw. WAMP i LAMP, czyli windowsowa lub linuksowa kombinacja Apache, bazy danych MySQL i samego PHP. Na potrzeby tego kursu zalecane jest zainstalowanie Laragona, który spełni wszystkie wymagane od niego funkcje:</p>

	<div class="image">
		<a href="https://sourceforge.net/projects/laragon/files/releases/3.1/laragon-wamp.exe/download" target="_blank">
			<img src="https://laragon.org/img/logo.png">
		</a>
	</div>

	<p>Po zainstalowaniu i uruchomieniu (i ewentualnym odświeżeniu), każdy folder w katalogu <code>C:\laragon\www</code> będzie wirtualnym hostem serwera www. Przykładowo plik <code>zadanie1.php</code> w folderze <code>C:\laragon\www\phpjawor</code> będzie wykonanywalny pod adresem <code>http://phpjawor.dev/zadanie01.php</code>.</p>

	<p>Wygodnym edytorem i środowiskiem pracy programisty może być Sublime Text 3:</p>

	<div class="image">
		<a href="https://www.sublimetext.com/3" target="_blank">
			<img src="https://cdn.dribbble.com/users/2404/screenshots/3438305/sublime-text-preview.png" width="180px">
		</a>
	</div>

	<h4>Korzystanie materiałów</h4>

	<p>Wszystkie materiały dotyczące tego kursu znajdują się w repozytorium pod poniższym adresem: <a href="https://bitbucket.org/krewak/pwsz-jawor" target="_blank">https://bitbucket.org/krewak/pwsz-jawor/</a>. Istnieją dwie opcje pobrania zestawu materiałów:</p>

	<ul>
		<li>bezpośrednie pobranie repozytorium: <a href="https://bitbucket.org/krewak/pwsz-jawor/get/master.zip" target="_blank">https://bitbucket.org/krewak/pwsz-jawor/get/master.zip</a></li>
		<li>wykorzystanie Gita do skopiowania całego repozytorium - opisane poniżej:</li>
	</ul>

	<pre><code class="bash">{% filter escape %}{% include "exercises/git.sh" %}{% endfilter %}</code></pre>

	<p>Aby uruchomić kopię bieżącej witryny należy pobrać wymagane zależności:</p>

	<pre><code class="bash">composer install</code></pre>

{% endblock %}