<!DOCTYPE html>
<html>
	<head>
		<title>PHP Jawor</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css">

		<style type="text/css">
			a, a:hover, a:active { color: DarkSlateGrey; text-decoration: none; }
			.container { margin-top: 3em; }
			.hljs.php { padding-bottom: 1.75em; }

			#sidebar-navigation { border-right: 1px solid rgba(0, 0, 0, .1); }
			#sidebar-navigation li { list-style-type: none; line-height: 32px; line-height: 1.25em; margin: 1em auto; }
			#sidebar-navigation li.active { border-left: solid 3px DarkSlateGrey; padding-left: 8px; font-weight: bolder }
			#sidebar-navigation h5 { margin: 24px 0px; }

			#content { padding-left: 2em; }
			#content h4 { padding-top: 1em; }
			#content h5 { color: rgba(0, 0, 0, .5); }
			#content li { line-height: 2em; }
			#content p { text-align: justify; text-indent: 2em; }
			#content .image { text-align: center; margin-bottom: 1em; }

			#footer { width: 100%; border-top: 1px solid rgba(0, 0, 0, .1); color: DarkSlateGrey; margin-top: 3em; padding: 2em; text-align: right; }
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div id="sidebar-navigation" class="col-md-3">
					<h3><a href="/">PHP</a></h3>
					{% for section, links in navigation %}
						<h5>{{ section }}</h5>
						{% for link, label in links %}
							<li class="{% if exercise == link %}active{% endif %}">
								<a href="?exercise={{ link }}">{{ label }}</a>
							</li>
						{% endfor %}
					{% endfor %}
				</div>
				<div id="content" class="col-md-9">
					<h3>{% block title %}{% endblock %}</h3>
					<h5>{% block subtitle %}{% endblock %}</h5>
					
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<div class="row">
				<div id="footer">
					2017 &copy; Krzysztof Rewak
				</div>
			</div>
		</div>
		

		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

		<script>
			MathJax.Hub.Config({tex2jax: {inlineMath: [["$","$"], ["\\(","\\)"]]}});
			
			hljs.configure({ tabReplace: "    " });
			hljs.initHighlightingOnLoad();

			$(document).ready(function() {
	
				function formatText($el) {
				$el.each(function() {
					var conjunctions = ["a", "i", "o", "u", "w", "z", "W"];
					var div = $(this);

					conjunctions.forEach(function(conj) {
						var str = div.html();
						if(str.indexOf(" " + conj + " ") > -1) {
							var conv = str.replace(new RegExp(" " + conj + " ", 'g'), " " + conj + "&nbsp;");
							div.html(conv);
						}
					});
				});
			}

			formatText($("p"));

});
		</script>
	</body>
</html>